.underline{
    width: 400px;
    border: 1px solid rgba(68, 68, 68, 0.2);
    margin-top: 25px;
}

/* .row > .col{
    border: 1px solid grey;
} */

.btn-ariq{
    padding: 0px;
    border-style: none;
}

.cari{
    width: 60px;
    height: 37px;
    margin-left: 15px;
}

.dropdown{
    
    margin-top: 4px;
}

.sort-by{
    margin-top: 5px;
    margin-right: 10px;
}